In [8]:
import numpy as np
import pandas as pd

In [217]:
# Loading Data
file = 'U.S._Chronic_Disease_Indicators__CDI_.csv'
df = pd.read_csv(file)   
df = pd.DataFrame(df)
df

/var/folders/q0/x62x9tmn5js__2ppjpsk9c800000gn/T/ipykernel_94877/655801987.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2014,2014,AR,Arkansas,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,5,AST,AST3_1,NMBR,GENDER,GENM,NaN,NaN,NaN,NaN
1,2018,2018,CO,Colorado,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,8,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2018,2018,DC,District of Columbia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,11,AST,AST3_1,NMBR,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2017,2017,GA,Georgia,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,13,AST,AST3_1,NMBR,GENDER,GENF,NaN,NaN,NaN,NaN
4,2010,2010,MI,Michigan,SEDD; SID,Asthma,Hospitalizations for asthma,NaN,NaN,Number,...,26,AST,AST3_1,NMBR,RACE,HIS,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185671,2020,2020,WY,Wyoming,BRFSS,Diabetes,Dilated eye examination among adults aged >= 1...,NaN,%,Age-adjusted Prevalence,...,56,DIA,DIA7_0,AGEADJPREV,RACE,WHT,NaN,NaN,NaN,NaN
1185672,2020,2020,WY,Wyoming,BRFSS,Older Adults,Proportion of older adults aged >= 65 years wh...,NaN,%,Crude Prevalence,...,56,OLD,OLD3_1,CRDPREV,RACE,WHT,NaN,NaN,NaN,NaN
1185673,2017,2017,IA,Iowa,BRFSS,Arthritis,Activity limitation due to arthritis among adu...,NaN,%,Age-adjusted Prevalence,...,19,ART,ART2_1,AGEADJPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185674,2020,2020,WY,Wyoming,BRFSS,Diabetes,Diabetes prevalence among women aged 18-44 years,NaN,%,Crude Prevalence,...,56,DIA,DIA2_2,CRDPREV,RACE,HIS,NaN,NaN,NaN,NaN
1185675,2019,2019,RI,Rhode Island,BRFSS,Arthritis,Activity limitation due to arthritis among adu...,NaN,%,Crude Prevalence,...,44,ART,ART2_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [218]:
# Question 1: Filter out needed variables
usefulData1 = ["YearStart", "LocationAbbr", "LocationDesc", "Question", "Stratification1", "DataValue"]
usefulData2 = df["Stratification1"].isin(['Male','Female'])
usefulData = df[usefulData2][usefulData1]

usefulData3 = usefulData["Question"].isin(['Binge drinking prevalence among adults aged >= 18 years', 'Poverty'])
usefulData = usefulData[usefulData3]
usefulData

,YearStart,LocationAbbr,LocationDesc,Question,Stratification1,DataValue
463767,2013,TN,Tennessee,Poverty,Female,19
464521,2015,RI,Rhode Island,Poverty,Male,12.6
465693,2017,ME,Maine,Poverty,Female,11.7
469904,2017,NC,North Carolina,Poverty,Female,16
475699,2018,MT,Montana,Poverty,Female,13.8
...,...,...,...,...,...,...
1182416,2018,WY,Wyoming,Binge drinking prevalence among adults aged >=...,Female,11.0
1183166,2020,WY,Wyoming,Binge drinking prevalence among adults aged >=...,Female,12.0
1183208,2020,WY,Wyoming,Binge drinking prevalence among adults aged >=...,Male,21.5
1183930,2020,WY,Wyoming,Binge drinking prevalence among adults aged >=...,Female,13.4
1185471,2020,WY,Wyoming,Binge drinking prevalence among adults aged >=...,Male,20.5

In [219]:
# Question 2:  Change into wide format 
usefulData = pd.get_dummies(usefulData, columns=["Question"])
usefulData["binge_male"] = usefulData.loc[usefulData["Stratification1"] == "Male",["Question_Binge drinking prevalence among adults aged >= 18 years"] ]
usefulData["binge_female"] = usefulData.loc[usefulData["Stratification1"] == "Female",["Question_Binge drinking prevalence among adults aged >= 18 years"] ]

usefulData["binge_all"] = usefulData.loc[usefulData["Question_Binge drinking prevalence among adults aged >= 18 years"] == 1, ["DataValue"]]
usefulData["binge_male"] = usefulData.loc[usefulData["binge_male"] == 1, ["DataValue"]]
usefulData["binge_female"] = usefulData.loc[usefulData["binge_female"] == 1, ["DataValue"]]
usefulData["poverty"] = usefulData.loc[usefulData["Question_Poverty"] == 1, ["DataValue"]]

usefulData

,YearStart,LocationAbbr,LocationDesc,Stratification1,DataValue,Question_Binge drinking prevalence among adults aged >= 18 years,Question_Poverty,binge_male,binge_female,binge_all,poverty
463767,2013,TN,Tennessee,Female,19,0,1,NaN,NaN,NaN,19
464521,2015,RI,Rhode Island,Male,12.6,0,1,NaN,NaN,NaN,12.6
465693,2017,ME,Maine,Female,11.7,0,1,NaN,NaN,NaN,11.7
469904,2017,NC,North Carolina,Female,16,0,1,NaN,NaN,NaN,16
475699,2018,MT,Montana,Female,13.8,0,1,NaN,NaN,NaN,13.8
...,...,...,...,...,...,...,...,...,...,...,...
1182416,2018,WY,Wyoming,Female,11.0,1,0,NaN,11.0,11.0,NaN
1183166,2020,WY,Wyoming,Female,12.0,1,0,NaN,12.0,12.0,NaN
1183208,2020,WY,Wyoming,Male,21.5,1,0,21.5,NaN,21.5,NaN
1183930,2020,WY,Wyoming,Female,13.4,1,0,NaN,13.4,13.4,NaN
1185471,2020,WY,Wyoming,Male,20.5,1,0,20.5,NaN,20.5,NaN

In [222]:
# Question 3: Rename varaibles and export data 
finalData = usefulData[["LocationDesc", "LocationAbbr", "YearStart", "binge_all", "binge_male", "binge_female", "poverty"]]
finalData = finalData.set_axis(["state", "stateabb", "year", "binge_all", "binge_male", "binge_female", "poverty"], axis=1)
finalData

finalData.to_csv("binge_clean.csv")

In [221]:
# Question 4: Top10 Drinking states
finalData.sort_values("year", ascending = False)
finalData_2021 = finalData[finalData.year == 2021]

finalData_2021["binge_all"] = finalData_2021['binge_all'].astype(float)
finalData_2021["binge_male"] = finalData_2021['binge_male'].astype(float)
finalData_2021["binge_female"] = finalData_2021['binge_female'].astype(float)
finalData_2021["poverty"] = finalData_2021['poverty'].astype(float)

finalData_2021 = finalData_2021.groupby("state")[["binge_all", "binge_male", "binge_female"]].mean().reset_index()
finalData_2021_top10 = finalData_2021.sort_values("binge_all", ascending = False)
finalData_2021_top10 = finalData_2021_top10.iloc[:10]
finalData_2021_top10

/var/folders/q0/x62x9tmn5js__2ppjpsk9c800000gn/T/ipykernel_94877/3152649504.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalData_2021["binge_all"] = finalData_2021['binge_all'].astype(float)
/var/folders/q0/x62x9tmn5js__2ppjpsk9c800000gn/T/ipykernel_94877/3152649504.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalData_2021["binge_male"] = finalData_2021['binge_male'].astype(float)
/var/folders/q0/x62x9tmn5js__2ppjpsk9c800000gn/T/ipykernel_94877/3152649504.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalData_2021["binge_female"] = finalData_2021['binge_female'].astype(float)
/var/folders/q0/x62x9tmn5js__2ppjpsk9c800000gn/T/ipykernel_94877/3152649504.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  finalData_2021["poverty"] = finalData_2021['poverty'].astype(float)

                   state  binge_all  binge_male  binge_female
53             Wisconsin     22.725       26.60         18.85
8   District of Columbia     21.775       25.75         17.80
27               Montana     21.600       26.75         16.45
35          North Dakota     21.025       26.45         15.60
16                  Iowa     20.925       26.80         15.05
43          South Dakota     20.350       25.15         15.55
28              Nebraska     20.150       25.35         14.95
5               Colorado     19.000       23.30         14.70
24             Minnesota     18.525       22.35         14.70
17                Kansas     18.300       22.45         14.15

In [208]:
finalData["yeargap"] = finalData.loc[~finalData.binge_all.isna(), "year"]
finalData

growthrateData = finalData.sort_values("year", ascending = True).groupby("state")["yeargap","binge_all"].agg(["first", "last"]).reset_index()
growthrateData = growthrateData.set_axis(["state", "yearfirst", "yearlast", "bingefirst", "bingelast"], axis=1)

growthrateData["yearfirst"] = growthrateData["yearfirst"].astype(float)
growthrateData["yearlast"] = growthrateData["yearlast"].astype(float)
growthrateData["bingefirst"] = growthrateData["bingefirst"].astype(float)
growthrateData["bingelast"] = growthrateData["bingelast"].astype(float)

growthrateData["Growth_rate"] = (growthrateData.bingelast - growthrateData.bingefirst)/ growthrateData.bingefirst
growthrateData["Annual_Growth_rate"] = growthrateData.Growth_rate/(growthrateData.yearlast - growthrateData.yearfirst)

growthrateData_top5 = growthrateData.sort_values("Annual_Growth_rate", ascending = False)
growthrateData_top5 = growthrateData_top5.iloc[:5]


growthrateData_top5

/var/folders/q0/x62x9tmn5js__2ppjpsk9c800000gn/T/ipykernel_94877/1414622299.py:4: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  growthrateData = finalData.sort_values("year", ascending = True).groupby("state")["yeargap","binge_all"].agg(["first", "last"]).reset_index()

,state,yearfirst,yearlast,bingefirst,bingelast,Growth_rate,Annual_Growth_rate
52,West Virginia,2011.0,2021.0,5.9,18.3,2.101695,0.210169
44,Tennessee,2011.0,2021.0,6.0,18.5,2.083333,0.208333
11,Guam,2011.0,2021.0,8.4,21.7,1.583333,0.158333
47,Utah,2011.0,2021.0,7.0,15.1,1.157143,0.115714
48,Vermont,2011.0,2021.0,12.6,22.3,0.769841,0.076984